annotated-types
anyio
certifi
cffi
charset-normalizer
cryptography
distro
faiss-cpu
google-auth
google-genai
h11
httpcore
httpx
idna
numpy
packaging
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PySide6
PySide6_Addons
PySide6_Essentials
requests
shiboken6
sniffio
tenacity
typing-inspection
typing_extensions
urllib3
websockets